
<div class="card mt-3 rounded">
    <div class="d-flex justify-content-between align-items-center p-3 bg-dark rounded">
        <h1 class="text-white">Projeto</h1>
        <button class="btn btn-primary" [routerLink]="['novo']">Novo projeto</button>
    </div>
    
    <div class="card-body card">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>descricao</th>
                    <th>qteParticipantes</th>
                    <th>responsavel</th>
                    <th>custo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let projeto of projeto">
                    <td>{{ projeto.id }}</td>
                    <td>{{ projeto.nome }}</td>
                    <td>{{ projeto.descricao }}</td>
                    <td>{{ projeto.qtdeparticipantes }}</td>
                    <td>{{ projeto.responsavel }}</td>
                    <td>{{ projeto.custo }}</td>
                    <td> 
                        <span class="d-flex justify-content-end">
                            <button type="button" class="btn btn-primary  me-2" (click)="Editar(projeto.id)">Atualizar</button>
                            <button type="button" class="btn btn-danger" (click)="Excluir(projeto.id)">Deletar</button>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>  
    
