<div class="card mt-3 rounded">
    <div class="d-flex justify-content-between align-items-center p-3 bg-dark rounded">
        <h1 class="text-white">Funcionario</h1>
        <button class="btn btn-primary" [routerLink]="['novo']">Novo funcionario</button>
    </div>
    
    <div class="card-body card ">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Cargo</th>
                    <th>Salario</th>
                    <th>Area de atuação</th>
                    <th>Local de trabalho</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let funcionario of funcionario">
                    <td>{{ funcionario.id }}</td>
                    <td>{{ funcionario.nome }}</td>
                    <td>{{ funcionario.cargo }}</td>
                    <td>{{ funcionario.salario }}</td>
                    <td>{{ funcionario.areaatuacao }}</td>
                    <td>{{ funcionario.localtrabalho }}</td>
                    <td> 
                        <span class="d-flex justify-content-end">
                            <button type="button" class="btn btn-primary  me-2" (click)="Editar(funcionario.id)">Atualizar</button>
                            <button type="button" class="btn btn-danger" (click)="Excluir(funcionario.id)">Deletar</button>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>  
    
