<div class="card p-3 mt-3">
    <form class="row g-3 needs-validation" novalidate [formGroup]="form">
        <div class="col-sm-12">
            <label for="nome" class="form-label">Nome da Empresa</label>
            <input type="text" class="form-control card" id="nome" placeholder="Nome da empresa" formControlName="nome">
            <div class="invalid-feedback">
                Informe o nome da Empresa!!!
            </div>
        </div>
        <div class="col-sm-6">
            <label for="nome" class="form-label">Cnpj da Empresa</label>
            <input type="text" class="form-control card" id="cpf" placeholder="cpf" formControlName="cnpj">
            <div class="invalid-feedback">
                Informe o cnpj da Empresa!!!
            </div>
            <div class="col-sm-6">
                <label for="nome" class="form-label">Endereço da Empresa</label>
                <input type="text" class="form-control card" id="rg" placeholder="Rg dos clientes" formControlName="endereco">
                <div class="invalid-feedback">
                    Informe o Endereço da Empresa!!!
                </div>
                <div class="col-sm-12">
                    <label for="nome" class="form-label">Socios da Empresa</label>
                    <input type="text" class="form-control card" id="endereco" placeholder="Enderços dos clientes"
                        formControlName="socios">
                    <div class="invalid-feedback">
                        Informe os socios da Empresa!!!
                    </div>
                </div>
                <div class="col-sm-12">
                    <label for="nome" class="form-label">Faturamento da Empresa</label>
                    <input type="text" class="form-control card" id="email" placeholder="Email dos clientes"
                        formControlName="faturamento">
                    <div class="invalid-feedback">
                        Informe o Faturamento da Empresa!!!
                    </div>
                </div>

            </div>

        </div>
        <div class="col-12 d-flex justify-content-end">
            <button class="btn bg-success text-light me-2" type="submit" (click)="Salvar()">Salvar</button>
            <button class="btn btn-danger" type="submit" (click)="Cancelar()">Cancelar</button>
        </div>
    </form>
</div>

